<% if notification.target %>
  <div class=''>
    <p class="notifications-p"><i class="fa fa-pencil text-secondary"></i>| <%= link_to notification.actor.username, main_app.profile_path(notification.actor.username) %> published a new chapter to  <%= link_to notification.second_target.title, main_app.book_path(notification.second_target) %></p>
  </div>

  <div class=''>
    <p class="notifications-p"><%= link_to notification.target.title, main_app.book_chapter_path(notification.second_target, notification.target.id) %></p>
  </div>
<% end %>
<%# if notification.actor.avatar.attached? %>
    <%#= link_to (image_tag notification.actor.avatar.variant(resize: "40x40"), style: 'width: 40px; height: 40px;', class: "rounded-circle media-object media-review-object") , profile_path(notification.actor.username) %>
  <%# else %>
    <%#= link_to (image_tag 'default-avatar.jpg', class: "rounded-circle media-object media-review-object", style: "width: 40px; height: 40px;"), profile_path(review.user.username) %>
  <%# end %>