$navbarColor: #1e1e1e;
$backgroundColor:   #f5f5f5;
$cf-bg:             #e7e7e7;
$cf-bg-border:      #ccc;
$bgWhite:           #ffffff;
$bgDark:            #151414;
$highlight:         #14819e;
$main:              #34314c;
$secondary:         #9592ad;
$border:            #d9dee9;
$highlight_1:       #fd7473;
$highlight_2:       #fec951;
$highlight_3:       #47b8e0;
$highlight_4:       #9f68d0;
$white:             #FFFFFF