<div class="container py-3">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 sidebar-col">
        <%= render 'books/widgets/sidebar_category' %>
    </div>

    <div class="col-sm-9">
      <%= render @ratings %>
    </div>
  </div>
</div>