<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-collapsible-content">
  <ul class="navbar-nav mr-auto">
  	<%= render 'layouts/navigation/collapsible_elements/constant_links' %>
    <%= render collapsible_links_partial_path %>
  </ul>
</div><!-- navbar-collapse -->